/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    margin:0;
    font-family:monospace;
    transform:translate3d(0,0,0);
    background:whitesmoke;
    color:rgb(100,100,100);
}

.main-title {
    font-weight: 100;
    position:fixed;
    top:0;
    color:#ea532a;
    z-index: 1000;
    mix-blend-mode: multiply;
    padding:2em;
    cursor: pointer;
    transition:300ms;
}

.main-title:hover {
    transform: translateX(10px);
    color:rgba(0,0,0,0);
}

.main-title:after {
    content:"✕  Reset";
    color:rgb(100,100,100);
    position:absolute;
    top:0;
    left:0;
    padding:2.6em;
    opacity:0;
    text-transform:uppercase;
    font-size: 10px;
    width:200px;
    transition:300ms;
    transform: translateX(-10px);
}

.main-title:hover:after {
    opacity:1;
    transform: translateX(0);
}

.main-title h1 {
    font-size: 10px;
    margin:0;
    text-transform: uppercase;
    letter-spacing: .1em
}

.word-wrapper-outer {
    position:fixed;
    top:0;
    height:100vh;
    width:25vw;
    overflow:scroll;
    
}

.word-wrapper-outer::-webkit-scrollbar { 
    display: none; 
}

.word-wrapper-inner {
    padding:2em;
}

.word-wrapper-outer ol{
    padding:1em;
    margin:3em 0 0 0;
}

.word-wrapper-outer li{
    font-size: 10px;
    padding:.3em 0;
    color:#ea532a;
    cursor: pointer;
    transition: 300ms;
}

.word-wrapper-outer li.active:before{
    content:"";
    padding:.3em;
    margin-bottom:.3em;
    font-size:8px;
    text-transform:uppercase;
    border:1px solid;
    opacity:.4;
    display: inline-block;
}

.word-wrapper-outer li.active.insight:before{
    content:"insight";
}

.word-wrapper-outer li.active.fact:before{
    content:"fact";
}

.word-wrapper-outer li.active.reverie:before{
    content:"reverie";
}

.word-wrapper-outer li:hover{
    transform: translateX(.6em);
}

.word-wrapper-outer li.active:hover{
    transform: translateX(0em);
}

.word-wrapper-outer li h2{
    font-size: inherit;
}

.word-wrapper-outer li span{
    display:block;
}

.word-wrapper-outer li span.term-title{
    font-weight: bold;
    color:rgb(100,100,100);
    transition: 300ms;
}

.word-wrapper-outer li:hover span.term-title{
    color:rgb(30,30,30);
}

.word-wrapper-outer li span.term-definition{
    color:rgb(100,100,100);
    max-height: 0;
    overflow: hidden;
    opacity: .1;
    transition:300ms opacity;
}

.word-wrapper-outer li.active span.term-definition{
    color:rgb(100,100,100);
    max-height: 900px;
    opacity: 1
}

.word-wrapper-outer li.active span.term-title{
    color:#ea532a;
}

.about {
    display:none;
}

.circle-wrapper-outer {
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:76vw;
    overflow:hidden;
   
}

.circle {
    border-radius:100%;
    position:absolute;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.3);
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-22deg);
    transition:1000ms;
    filter: blur(3px);
    
}

.circle .label {
    opacity:0;
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%) translateY(0);
    transition:1000ms;
}

.circle.active {
    border-color: rgba(0,0,0,1);
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    filter: blur(0px);
}

.circle.active .label {
    opacity:1;
    transform: translateX(-50%) translateY(20px);
}

.circle:hover{
    transform: translateX(-50%) translateY(-50%) rotateZ(-22deg) scale(1.05);
    filter: blur(1px);
}

.circle.active:hover{
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg) scale(1.05);
    filter: blur(0px);
}

.circle.circle-outer {
    width:33vw;
    height:33vw;
}


.circle.circle-outer.active {
    width:70vw;
    height:70vw;
    border-color: transparent;
}

.circle.circle-outer.active-2 {
    width:60vw;
    height:60vw;
}

.circle.circle-outer.active-3 {
    width:35vw;
    height:35vw;
}



.circle.circle-middle {
    width:22vw;
    height:22vw;
}

.circle.circle-middle.active-3 {
    width:30vw;
    height:30vw;
}

.circle.circle-middle.active {
    width:50vw;
    height:50vw;
}


.circle.circle-inner {
    width:11vw;
    height:11vw;
}

.circle.circle-inner.active {
    width:25vw;
    height:25vw;
}



.circle .dots li{
    position:absolute;
    left:50%;
    top:50%;
    color:#ea532a;
    display: block;
    cursor: pointer;
    z-index: 100;

    
}



.circle .dots li:before{
    content:"•";
    display: block;
    position: absolute;
    padding-right:1em;
    margin-left:-1em;
    margin-top:.1em;
}

.circle li:nth-child(0){
    margin-top: 6%;
    margin-left: -17%;
}

.circle li:nth-child(1){
    margin-top: -26%;
    margin-left: -22%;
}

.circle li:nth-child(2){
    margin-top: 27%;
    margin-left: -10%;
}

.circle li:nth-child(3){
    margin-top: -27%;
    margin-left: 15%;
}

.circle li:nth-child(4){
    margin-top: 18%;
    margin-left: 20%;
}

.circle li:nth-child(5){
    margin-top: -19%;
    margin-left: -12%;
}

.circle li:nth-child(6){
    margin-top: 9%;
    margin-left: 11%;
}

.circle li:nth-child(7){
    margin-top: 20%;
    margin-left: -29%;
}

.circle li:nth-child(8){
    margin-top: -10%;
    margin-left: -16%;
}

.circle li:nth-child(9){
    margin-top: 10%;
    margin-left: 15%;
}

.circle li:nth-child(10){
    margin-top: 11%;
    margin-left: 4%;
}

.circle li:nth-child(11){
    margin-top: 14%;
    margin-left: 12%;
}

.circle li:nth-child(12){
    margin-top: -22%;
    margin-left: -10%;
}

.circle li:nth-child(13){
    margin-top: -19%;
    margin-left: 10%;
}

.circle li:nth-child(14){
    margin-top: -6%;
    margin-left: -21%;
}

.circle li:nth-child(15){
    margin-top: 18%;
    margin-left: 4%;
}

.circle li:nth-child(16){
    margin-top: 9%;
    margin-left: -5%;
}

.circle li:nth-child(17){
    margin-top: 8%;
    margin-left: -21%;
}

.circle li:nth-child(18){
    margin-top: -9%;
    margin-left: -19%;
}

.circle li:nth-child(19){
    margin-top: -9%;
    margin-left: -9%;
}

.circle li:nth-child(20){
    margin-top: 9%;
    margin-left: 9%;
}

.circle li:nth-child(20){
    margin-top: 11%;
    margin-left: 15%;
}

.circle li:nth-child(21){
    margin-top: -20%;
    margin-left: -6%;
}

.circle li:nth-child(22){
    margin-top: -9%;
    margin-left: -13%;
}

.circle li:nth-child(23){
    margin-top: 11%;
    margin-left: 5%;
}

.circle li:nth-child(24){
    margin-top: -19%;
    margin-left: 2%;
}

.circle li:nth-child(25){
    margin-top: 20%;
    margin-left: 6%;
}

.circle li:nth-child(26){
    margin-top: -9%;
    margin-left: -23%;
}

.circle li:nth-child(27){
    margin-top: -13%;
    margin-left: -28%;
}


.circle .dots {
    opacity:0;
    transition:1000ms;
}

.circle .dots .term-definition {
    display:none;
}


.circle.active .dots {
    opacity:1;
}

.circle .dots li .term-title {
    opacity:0;
    z-index: -1;
    display: inline-block;
    font-size: 8px;
    transition:300ms;
    transform: translateX(-10px);
}


.circle .dots li:hover .term-title{
    opacity:1;
    transform: translateX(0px);
}

li p {
    display:none;
}

a {
    transition:1000ms;
    color:rgba(0,0,0,.4);
    text-decoration: none;
}

li.active{
    color:#ea532a!important;
}


@media screen and (max-width: 640px) {
    body,html{
        width:100%;
        height:100%;
    }

    .word-wrapper-outer {
    position:absolute;
    bottom: 0;
    top:auto;
    height:150px;
    width:100vw;
    overflow-y:hidden;
    overflow-x:scroll;
    -webkit-overflow-scrolling: touch;
    }
    .circle-wrapper-outer {
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100vh - 150px);
    width: 100vw;
    overflow: hidden;
    }
    #right-word-list {
        margin:0;
        width:1280px;
    }
    .term-definition{
        display:none!important;
    }
    .word-wrapper-outer li.active:before{
        display:none;
    }

    .word-wrapper-outer li{
       float:left;
       width:12.5%;
    }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
